// Black Color
$black-900: #000000;
$black-800: #333333;
$black-700: #222222;
$black-600: #8c8c8c;
$black-500: #aaaaaa;

// White Color
$white-900: #ffffff;
$white-800: #f3f3f3;

// Red Color
$red-800: #e50914;