.enjoyOnTV {
  .animation__card {
    display: flex;
    max-width: 1250px;
    margin: 0 auto;
    align-items: center;

    &-text {
      padding-right: 3em;
      h1 {
        font-size: 3.125rem;
        margin-bottom: 0.5rem;
      }
      h2 {
        font-size: 1.625em;
        margin-top: 2vw;
        font-weight: 400;
        line-height: 1.4;
      }
    }
    &-container {
      position: relative;
      z-index: 1;
      .animation__video {
        position: absolute;
        top: 5vw;
        left: 4vw;
        z-index: -1;
      }
    }
  }
}
